---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: manager-role
  namespace: placeholder
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - argoproj.io
  resources:
  - applicationsets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v2.edp.epam.com
  resources:
  - cdpipelines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v2.edp.epam.com
  resources:
  - cdpipelines/finalizers
  verbs:
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - cdpipelines/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - stages
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - v2.edp.epam.com
  resources:
  - stages/finalizers
  verbs:
  - update
- apiGroups:
  - v2.edp.epam.com
  resources:
  - stages/status
  verbs:
  - get
  - patch
  - update
