global:
  # -- platform type that can be "kubernetes" or "openshift"
  platform: "kubernetes"
  # -- specify the admin OIDC group name. If empty, default {{ .Release.Namespace }}-oidc-admins.
  adminGroupName: ""
  # -- specify the developer OIDC group name. If empty, default {{ .Release.Namespace }}-oidc-developers.
  developerGroupName: ""

# -- component name
name: cd-pipeline-operator

# -- defines the type of the tenant engine that can be "none" or "capsule";
# for Stages with external cluster tenancyEngine will be ignored
tenancyEngine: "none"

# -- Required tenancyEngine: capsule. Specify Capsule Tenant specification for Environments.
capsuleTenant:
  # Enable Capsule Tenant creation as a part of cd-pipeline-operator deployment.
  create: true
  spec:
  #   ingressOptions:
  #     allowWildcardHostnames: false
  #     allowedHostnames:
  #       # Enable restriction pattern for ingress hostname creation.
  #       allowedRegex: ^.*example.com$
  #     hostnameCollisionScope: Tenant
  #   limitRanges:
  #     items:
  #       - limits:
  #            # Default limits for cintainer if not specified in upstream manifest
  #           - default:
  #               cpu: 256m
  #               memory: 512Mi
  #             # Default requests for cintainer if not specified in upstream manifest
  #             defaultRequest:
  #               cpu: 128m
  #               memory: 128Mi
  #             type: Container
  #         # Manage PVC creation
  #       - limits:
  #           - max:
  #               storage: 0Gi
  #             min:
  #               storage: 0Gi
  #             type: PersistentVolumeClaim
  #   # Maximum count of namespace to be created by cd-pipeline-operator
  #   namespaceOptions:
  #     quota: 3
  #   networkPolicies:
  #     items:
  #       - ingress:
  #           - from:
  #               - namespaceSelector:
  #                   matchLabels:
  #                     # Please fill namespace for match selector
  #                     capsule.clastix.io/tenant: <namespace>
  #               - podSelector: {}
  #               - ipBlock:
  #                   cidr: 172.16.0.0/16
  #         podSelector: {}
  #         policyTypes:
  #           - Ingress
  #   resourceQuotas:
  #     items:
  #       - hard:
  #           limits.cpu: 512m
  #           limits.memory: 512Mi
  #       - hard:
  #           # Maximum count of pods to be deployed
  #           pods: '5'
  #     scope: Tenant
  #   serviceOptions:
  #     allowedServices:
  #       # Restrict 'externalName', 'LoadBalancer' and 'NodePort' service type creation
  #       externalName: false
  #       loadBalancer: false
  #       nodePort: false

annotations: {}
nodeSelector: {}
tolerations: []
affinity:
image:
  # -- KubeRocketCI cd-pipeline-operator Docker image name. The released image can be found on [Dockerhub](https://hub.docker.com/r/epamedp/cd-pipeline-operator)
  repository: epamedp/cd-pipeline-operator
  # if not defined then .Chart.AppVersion is used
  # -- KubeRocketCI cd-pipeline-operator Docker image tag. The released image can be found on [Dockerhub](https://hub.docker.com/r/epamedp/cd-pipeline-operator/tags)
  tag:
imagePullPolicy: "IfNotPresent"

resources:
  limits:
    memory: 192Mi
  requests:
    cpu: 50m
    memory: 64Mi

# -- should the operator manage(create/delete) namespaces for stages
# Refer to the guide for managing namespace (https://docs.kuberocketci.io/docs/operator-guide/auth/namespace-management)
manageNamespace: true

# -- Flag indicating whether the operator should manage secrets for stages.
# This parameter controls the provisioning of the 'regcred' secret within deployed environments, facilitating access to private container registries.
# Set the parameter to "none" under the following conditions:
#   - If 'global.dockerRegistry.type=ecr' and IRSA is enabled, or
#   - If 'global.dockerRegistry.type=openshift'.
# For private registries, choose the most appropriate method to provide credentials to deployed environments. Refer to the guide for managing container registries (https://docs.kuberocketci.io/docs/user-guide/manage-container-registries).
# Possible values: own/eso/none.
#   - own: Copies the secret once from the parent namespace, without subsequent reconciliation. If updated in the parent namespace, manual updating in all created namespaces is required.
#   - eso: The secret will be managed by the External Secrets Operator (requires installation and configuration in the cluster: https://docs.kuberocketci.io/docs/operator-guide/secrets-management/install-external-secrets-operator).
#   - none: Disables secrets management logic.
secretManager: none

serviceAccount:
  annotations: {}
